
body {
  margin: 0px 0px;
}

/* .select {
  background: red;
  padding: 200px;
} */

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 20px;
  background: gold;
} */

/*

.formControl {
    margin: 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: row;
    vertical-align: top
};

.sContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: green;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  background: rgb(42, 76, 170);
}

.subStatsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: lightslategray;
  padding: 15px;
  margin: auto;
}

.subStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: black dotted;
  padding: 10em;
  background: lightgray;
}

.formGroup {
  appearance: none;
  display: flex;
  justify-content: center;
  height: 38px;
  padding: 6px 10px;
  background: #fff;
  border: 1px solid #d1d1d1;
  transition: border-color .15s linear;
  border-radius: 4px;
  box-shadow: none;
  width: 34rem;
  font: inherit;
}

 input {
  line-height: normal;
}

h1 {
  margin: 2px;
}

p {
  margin: 2px;
} 

.form {
  display: flex;
  padding: 5px;
  background: clear;
}

.statBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  background: lightgreen;
}

.h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.featureStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.featureStatsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
}

.btn {
  border: 1px solid black;
}

*/

